html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
figure {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  word-wrap: break-word;
}

.section-offset {
  margin-bottom: 70px;
}

.button {
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  outline: 1px #cc9933 solid;
  color: #cc9933;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  --color: #fff;
  --bg-color: #cc9933;
  --bg-active-color: #a47312;
}

.button:focus-visible,
.button:hover {
  background-color: var(--bg-color);
  color: var(--color);
}

.button:active {
  background-color: var(--bg-active-color);
}

/* header */
.header {
  padding-top: 37px;
}

.header-container {
  align-items: center;
}

.header-flex-first {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.phone-profile {
  justify-content: space-between;
  width: 100%;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  background: white;
  border-radius: 15px;
}

.header-nav-list-item {
  padding: 27px 0;
  flex-wrap: nowrap;
}

.header-nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-list-item-btn:not(:last-child) {
  margin-right: 40px;
}

.tel {
  --ph-color: var(--link-profile-header-color);
  --ph-active-color: var(--link-active-profile-color);
  transition: color 0.3s ease-in-out;
}

.company-phone-number {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

.tel:focus-visible {
  color: var(--ph-color);
  outline-offset: 5px;
  outline: 1px solid #c93;
}

.tel:hover {
  color: var(--ph-color);
}

.tel:active {
  color: var(--ph-active-color);
}

.header-link-to-profile {
  color: var(--link-profile-header-color);
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;

  --link-profile-header-color: #cc9933;
  --link-hover-profile-color: #f0bf5f;
  --link-active-profile-color: #a47312;
}

.header-link-to-profile:focus-visible {
  color: var(--link-profile-header-color);
  outline-offset: 3px;
  outline: 1px solid #c93;
}

.header-link-to-profile:hover {
  color: var(--link-hover-profile-color);
}

.header-link-to-profile:active {
  color: var(--link-active-profile-color);
}

.header-nav-list-item {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.headersign-in-link {
  display: flex;
  align-items: center;
}

.headersign-in-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/arrow-to-enter.svg") no-repeat center;
  margin-right: 5px;
  top: -3px;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.headersign-in-link:hover::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/hover-arrow.svg") no-repeat center;
  margin-right: 5px;
  top: -3px;
  position: relative;
}

.nav-link {
  --nav-color: #cc9933;
  --nav-active-color: #a47312;
  --nav-outline: 1px solid #c93;
  transition: color 0.3s ease-in-out;
}
.active {
  color: chocolate;
}

.nav-link:focus-visible {
  color: var(--nav-color);
  outline-offset: 3px;
  outline: var(--nav-outline);
}

.nav-link:hover {
  color: var(--nav-color);
}

.nav-link:active {
  color: var(--nav-active-color);
}

/* about-us*/
.about-us-text {
  max-width: 888px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
}
/*offers*/

.arrow-right {
  display: inline-flex;
  align-items: center;
}

.arrow-right::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/arrow-right.svg") no-repeat center;
  transition: margin-left 0.3s ease-in-out;
}

.arrow-right:hover::after {
  margin-left: 11px;
}

.offers-column {
  flex-direction: column;
  max-width: 573px;
  margin-right: 24px;
}

.offer-item-preview {
  position: relative;
  margin-bottom: 24px;
  min-width: 573px;
  min-height: 258px;
  padding: 40px 108px 40px 45px;
  font-size: 0;
}

.offer-item-title {
  margin-bottom: 15px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  word-wrap: break-word;
}

.offer-item-descr {
  margin-bottom: 47px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 20px;
  opacity: 0.8;
}

.offer-item-link {
  color: #f0bf5f;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  word-wrap: break-word;
  outline: none;
}

.offer-item-link:active {
  color: #fff;
}

.offer-item-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.offer-item-link:focus-visible::before {
  outline-offset: 8px;
  outline: 1px solid #c93;
}

.offer-item-others-link {
  display: inline-flex;
  align-items: end;
  font-size: 16px;
  line-height: 16px;
  color: #f0bf5f;
  outline: none;
}

.offer-item-others-link:active {
  color: #fff;
}

.offer-item-others-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.offer-item-others-link:focus-visible::before {
  outline-offset: 8px;
  outline: 1px solid #c93;
}

.offer-item-preview:nth-child(1) {
  background-image: linear-gradient(
      90deg,
      rgba(47.97, 64.48, 89.25, 0.84) 0%,
      rgba(52.83, 64.85, 82.87, 0) 67%
    ),
    url("../img/maldives.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.offer-item-preview:nth-child(2) {
  background-image: linear-gradient(
      90deg,
      rgba(47.97, 64.48, 89.25, 0.84) 0%,
      rgba(52.83, 64.85, 82.87, 0) 67%
    ),
    url("../img/krit.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.offer-item-others {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 212px 229px 40px 45px;
  width: 100%;
  background-image: url("../img/lux.png");
  background-repeat: no-repeat;
  line-height: 60px;
  border-radius: 15px;
  font-size: 0;
}

.offer-item-others-title {
  max-width: 299px;
  margin-bottom: 15px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  word-wrap: break-word;
}

.offer-item-others-descr {
  position: relative;
  margin-bottom: 47px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 30px;
  opacity: 0.8;
}

/* services */

.services-list {
  flex-wrap: wrap;
}

.service-preview {
  font-size: 0;
  position: relative;
  border-radius: 15px;
  background-color: white;
}

.services-list-item {
  margin-top: 24px;
  max-width: 573px;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list-item:nth-child(1),
.services-list-item:nth-child(2) {
  margin-top: 0;
}

.service-link {
  display: inline-flex;
  color: #cc9933;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
  transition: color 0.3s ease-in-out;
}

.service-link:hover {
  color: #f0bf5f;
}

.service-link::after {
  position: relative;
  top: 11px;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/arrow-right.svg") no-repeat center;
  transition: background 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.service-link:hover::after {
  background: url("../img/services-hover-arrow.svg") no-repeat center;
  margin-left: 11px;
}

.service-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.service-text {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

.service-descr {
  padding: 26px 126px 35px 45px;
}

/* advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantage {
  flex-wrap: wrap;
  max-width: 276px;
  margin-right: 22px;
  margin-top: 22px;
  background-color: white;
  border-radius: 15px;
}

.advantage:nth-child(-n + 4) {
  margin-top: 0;
}

.advantage:nth-child(4n) {
  margin-right: 0;
}

.advatnage-img {
  padding-top: 40px;
  padding-left: 45px;
  margin-bottom: 10px;
}

.advantage-descr {
  padding: 0 42px 32px 45px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

/* placement */

.placement-list {
  flex-wrap: wrap;
}

.placement-preview:nth-child(-n + 3) {
  margin-top: 0;
}

.placement-preview {
  position: relative;
  max-width: 374px;
  margin-top: 24px;
  border-radius: 15px;
  background-color: white;
  font-size: 0;
}

.placement-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement-list-item:not(:nth-child(-n + 3)) {
  margin-top: 24px;
}

.placement-descr {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 32px 45px 45px 45px;
  align-items: flex-start;
}

.descr-price-stars {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.star:not(:last-child) {
  margin-right: 6px;
}

.price-stars {
  max-height: 16px;
}

.placement-title {
  display: block;
  margin-bottom: 16px;
  line-height: 16px;
}

.placement-location {
  display: block;
  margin-bottom: 20px;
  line-height: 16px;
}

.placement-grey-span {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.placement-black-span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.price {
  color: black;
  font-size: 20px;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 20px;
}

.placement-title {
  color: black;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.placement-location {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.placement-preview-others {
  position: relative;
  padding: 373px 0px 27px 54px;
  background: url("../img/placement-9.png");
  background-size: cover;
  min-height: 440px;
  min-width: 374px;
  max-width: 374px;
  width: inherit;
  border-radius: 15px;
}

.placement-link {
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
}

.placement-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.placement-link::after {
  position: relative;
  top: 11px;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/placement-arrow.svg") no-repeat center;
  transition: margin-left 0.3s ease-in-out;
}

.placement-link:hover::after {
  margin-left: 11px;
}

/* want-tour */

.want-tour {
  border-radius: 15px;
  background: #e9e9e9;
}

.button-tour {
  padding: 13px 30px;
  border-radius: 10px;
  border: 1px #cc9933 solid;
  color: #cc9933;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.form {
  margin-left: 5px;
  width: 1080px;
  border-radius: 15px;
  background: #fff;
}

.want-tour-wrap {
  padding: 45px;
}

.want-tour-title {
  margin: 0;
  margin-bottom: 20px;
  color: #333333;
  font-size: 40px;
  font-weight: 400;
  word-wrap: break-word;
}

.form-groups {
  padding: 31px 28px 32px 28px;
}

.form-title {
  display: inline-block;
  margin-bottom: 15px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.city-select {
  border: none;
  min-width: 169px;
}

.country-select {
  border: none;
  min-width: 169px;
  margin-right: 41px;
}

.date-select {
  border: none;
  min-width: 121px;
}

.nights-select {
  border: none;
  border-bottom: #e9e9e9 solid 1px;
  width: 121px;
}

.tourists-select {
  border: none;
  border-bottom: #e9e9e9 solid 1px;
  width: 121px;
}

.tourists {
  margin-right: 51px;
}

.city-title {
  padding-left: 4px;
}

.country-title {
  padding-left: 4px;
}

/* contacts */

.contacts-wrap {
  border-radius: 15px;
  padding: 45px;
  background-color: #ffffff;
  display: flex;
}

.contact-group {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 25px;
  justify-content: space-between;
  width: 100%;
}

.contacts-groups {
  display: inline-flex;
  max-width: 375px;
  flex-wrap: wrap;
  margin-right: 52px;
}

.contact-adress {
  max-width: 229px;
  line-height: 150%;
}

.contact-tel {
  max-width: 229px;
  align-items: center;
  color: #cc9933;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tel:hover {
  color: #f0bf5f;
}

.graph {
  margin-bottom: 45px;
}

.contact-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-mail {
  max-width: 229px;
  line-height: 150%;
}

.mail-descr {
  display: inline-block;
  color: #999999;
}

.contact-graph {
  max-width: 229px;
  line-height: 150%;
}

.mail-link {
  --mail-color: #cc9933;
  --mail-hover-color: #f0bf5f;
  --mail-active-color: #a47312;

  transition: color 0.3s ease-in-out;
}

.contact-mail-link {
  color: var(--mail-color);
}

.mail-link:focus-visible {
  color: var(--mail-color);
  outline-offset: 5px;
  outline: 1px solid #c93;
}

.mail-link:hover {
  color: var(--mail-hover-color);
}

.mail-link:active {
  color: var(--mail-active-color);
}

.no-margin-bottom {
  margin-bottom: 0;
}

/* footer */

.footer {
  position: relative;
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
}

.footer:after {
  content: "";
  width: 254px;
  height: 228px;
  background: url("../img/footer-sun.svg") no-repeat;
  position: absolute;
  bottom: 1px;
  right: 177px;
}

.footer-first-group {
  margin-right: 125px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 302px;
}

.footer-second-group {
  display: inline-flex;
  margin-right: 269px;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 359px;
}

.footer-third-group {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
}

.footer-first-group-1 {
  margin-bottom: 37px;
}

.footer-first-group-2 {
  margin-bottom: 40px;
}

.footer-first-group-3 {
  color: #cc9933;
}

.footer-second-group-1,
.footer-second-group-2 {
  margin-bottom: 15px;
}

.footer-second-group-2,
.footer-second-group-3 {
  display: flex;
  flex-direction: column;
  color: #c93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: flex-start;
}

.footer-link-svg {
  margin-bottom: 20px;
  transition: fill 0.3s ease-in-out;

  --grey-svg-color: #999999;
  --hover-svg-color: #cc9933;
  --active-svg-color: #a47312;
}

.group-svg {
  fill: var(--grey-svg-color);
}

.group-svg:focus,
.group-svg:hover {
  outline: none;
  fill: var(--hover-svg-color);
}

.group-svg:active {
  fill: var(--active-svg-color);
}

.ok-svg {
  fill: var(--grey-svg-color);
}

.ok-svg:focus,
.ok-svg:hover {
  outline: none;
  fill: var(--hover-svg-color);
}

.ok-svg:active {
  fill: var(--active-svg-color);
}

.vk-svg {
  fill: var(--grey-svg-color);
}

.vk-svg:focus,
.vk-svg:hover {
  outline: none;
  fill: var(--hover-svg-color);
}

.vk-svg:active {
  fill: var(--active-svg-color);
}

.footer-wrap {
  display: flex;
  background: #333;
  border-radius: 15px;
  padding: 45px;
  width: 100%;
}

body {
  min-height: 200px;
}

.btn-up {
  position: fixed; /* фиксированная позиция */
  background-color: #f0bf5f; /* цвет заднего фона */
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  border-top-left-radius: 8px; /* скругление верхнего левого угла */
  border-top-right-radius: 8px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: flex; /* не отображать элемент */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  width: 60px;
  height: 50px;
  opacity: 1;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #c93; /* цвет заднего фона при наведении */
  }
}
